### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
total_players = int(purchase_data["SN"].nunique())
totalplayers_df = pd.DataFrame({"Total Players": [total_players]})
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
total_revenue = purchase_data["Price"].sum()
unique_items = purchase_data["Item ID"].nunique()
purchase_count = purchase_data["Purchase ID"].nunique()
avg_price = round(purchase_data["Price"].mean(), 2)

purchasing_total_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                   "Average Price": [avg_price], 
                                   "Number of Purchases": [purchase_count], 
                                   "Total Revenue": [total_revenue]})
purchasing_total_df["Total Revenue"] = purchasing_total_df["Total Revenue"].map("${:,}".format)
purchasing_total_df

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     183           3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
unique_pd = purchase_data.drop_duplicates(subset="SN", keep="first")
gender_groupby = unique_pd.groupby(["Gender"])
gender_count = gender_groupby["Purchase ID"].count()
genderdem_df = pd.DataFrame(gender_count)
genderdem_df = genderdem_df.rename(columns={"Purchase ID": "Count"})
genderdem_df["Percentage"] = genderdem_df["Count"]/total_players*100
genderdem_df["Percentage"] = genderdem_df["Percentage"].map("{:.2f}%".format)
genderdem_df

                       Count Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_price_series = gender_groupby["Price"].sum()
type(gender_price_series)
gender_price_series.head(10)
p_analysis_g_df = pd.DataFrame(gender_price_series)
p_analysis_g_df = pd.merge(p_analysis_g_df, genderdem_df, on="Gender")
p_analysis_g_df["Average Price"] = p_analysis_g_df["Price"] / p_analysis_g_df["Count"]
p_analysis_g_df.rename(columns={"Price": "Total Purchase Value"}, inplace=True)
p_analysis_g_df["Average Price"] = p_analysis_g_df["Average Price"].map("${:.2f}".format)
p_analysis_g_df["Total Purchase Value"] = p_analysis_g_df["Total Purchase Value"].map("${:.2f}".format)
p_analysis_g_df

                      Total Purchase Value  Count Percentage Average Price
Gender
Female                             $256.43     81     14.06%         $3.17
Male                              $1474.70    484     84.03%         $3.05
Other / Non-Disclosed               $37.52     11      1.91%         $3.41

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [41]:
agebin = [0, 10, 15, 20, 24, 29, 35, 39, 100]
binnames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], agebin, labels=binnames, include_lowest=True, right=False)
#agegroupprice = purchase_data.groupby("Age Groups").sum()
agegroupcount = purchase_data["Age Groups"].value_counts(sort=False)
agegroupstats_df = pd.DataFrame(agegroupcount)
agegroupstats_df["Percentage"] = agegroupstats_df["Age Groups"] / total_players *100
agegroupstats_df["Percentage"] = agegroupstats_df["Percentage"].map("{:.2f}%".format)
agegroupstats_df.rename(columns={"Age Groups": "Count"}, inplace=True)
agegroupstats_df

       Count Percentage
<10       23      3.99%
10-14     28      4.86%
15-19    136     23.61%
20-24    298     51.74%
25-29    155     26.91%
30-34     86     14.93%
35-40     35      6.08%
40+       19      3.30%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
AG_price_sum = purchase_data.groupby("Age Groups").sum()
purchase_analysis_df = pd.DataFrame(AG_price_sum)
purchase_analysis_df["Age Group Count"] = agegroupcount
purchase_analysis_df = purchase_analysis_df.drop(columns=["Purchase ID", "Age", "Item ID"])
purchase_analysis_df.rename(columns={"Price": "Total Purchases"}, inplace=True)
purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Total Purchases"] / purchase_analysis_df["Age Group Count"]
purchase_analysis_df

            Total Purchases  Age Group Count  Average Purchase Price
Age Groups
<10                   77.13               23                3.353478
10-14                 82.78               28                2.956429
15-19                412.89              136                3.035956
20-24                903.84              298                3.033020
25-29                467.99              155                3.019290
30-34                249.23               86                2.898023
35-40                124.35               35                3.552857
40+                   61.56               19                3.240000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame