### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [43]:
total_players = int(purchase_data["SN"].nunique())
totalplayers_df = pd.DataFrame({"Total Players": [total_players]})
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
total_revenue = int(purchase_data["Price"].sum())
unique_items = purchase_data["Item ID"].nunique()
purchase_count = purchase_data["Purchase ID"].nunique()
avg_price = round(purchase_data["Price"].mean(), 2)

purchasing_total_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                   "Average Price": [avg_price], 
                                   "Number of Purchases": [purchase_count], 
                                   "Total Revenue": [total_revenue]})
purchasing_total_df["Total Revenue"] = purchasing_total_df["Total Revenue"].map("${:,}")
purchasing_total_df

TypeError: 'str' object is not callable

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [53]:
unique_pd = purchase_data.drop_duplicates(subset="SN", keep="first")
gender_groupby = unique_pd.groupby(["Gender"])
gender_count = gender_groupby["Purchase ID"].count()
#gender_count["Purchase ID"] = gender_count["Count"]
genderdem_df = pd.DataFrame(gender_count)
genderdem_df = genderdem_df.rename(columns={"Purchase ID": "Count"})
#genderdem_df["Percentage"] = gender_count["Purchase ID"] / total_players
genderdem_df["Percentage"] = genderdem_df["Count"]/total_players*100
genderdem_df["Percentage"] = genderdem_df["Percentage"].map("{:.2f}%".format)
genderdem_df

                       Count Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
p_analysis_g = gender_groupby["Price"].sum()
type(p_analysis_g)

pandas.core.series.Series

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame